<ion-header>
  <ion-navbar>
    <ion-icon id="icon-alarm" name="alarm"></ion-icon>
    <ion-icon id ="icon-wifi" name="wifi"></ion-icon>
    <ion-icon id="icon-battery-full" name="battery-full"></ion-icon>
  </ion-navbar>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HealthLab</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-style" padding>
  <p>MEDICINES PAGE</p>


<!-- <ion-searchbar [{ngModel}]="searchTerm" (ionChange)="getItem($event)"></ion-searchbar> -->
<tbody>
  <tr *ngFor="let p of something | async">
      <td>{{p.purpose}}</td>
      <td>{{p.indications_and_usage}}</td>
  </tr>
</tbody>
<button ion-button style="background-color: red;" (click)="search()">CLICK TO SEARCH</button>
</ion-content>
<!-- <ion-list>
  <ion-item button *ngFor="let item of {results | async}">{{item}}</ion-item>
</ion-list> -->